{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shartnoma</title>
    <link rel="icon" type="image/x-icon" href="{% static '/img/kspi-logo.png' %}">

</head>
<body style="font-family: 'Times New Roman', serif; font-size: 16px; margin: 0; padding: 0; line-height: 1.6;">
    
    <div style="max-width: 21cm; margin: 0.7cm 0.3cm;">
        <p style="margin-left: 11cm; font-size: 16px; text-indent: 0pt;">
            Qo`qon Davlat Pedagogika Instituti
            Moliya va iqdisodiyot ishlari bo`yicha prorektori 
            {{prorektor.last_name}} {{prorektor.first_name}}ga {{bino}} komendanti
            {{komendant}}dan
        </p>

        <p style="font-size: 16px; text-indent:10.2pt; text-align: center; font-size: 15px; font-weight: bold; margin: 42pt 0 15pt;">
            Talabnoma
        </p>

        <p style="font-size: 16px; text-indent:10.2pt;">
            {{sana}}
        </p>

        <p style="font-size: 16px; text-indent:10.2pt;">
            Menga institut omboridan {{bino}} uchun quydagilarni berishingizni so`rayman
        </p>



        <table style="width: 90%; border-collapse: collapse;">
            <tbody>

                {% for m in maxsulotlar %}
                <tr>
                    <td style="text-align: center; font-size: 14px; border: 1px solid #000;  padding: 5px;line-height: 1.2;vertical-align: auto; width: 6%;" >{{ forloop.counter }}</td>
                    <td style="text-align: left; font-size: 14px; border: 1px solid #000;  padding: 5px;line-height: 1.2;vertical-align: auto; ">{{m.maxsulot}}</td>
                    <td style="text-align: center; font-size: 14px; border: 1px solid #000;  padding: 5px;line-height: 1.2;vertical-align: auto; width: 20%;">{{m.qiymat}} {{m.birlik}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>   


 
        <p style="align-items: center;">
            <img src="{{prorektor.qr_code_link}}" width="40" height="40">
            <strong>Moliya va iqdisodiyot ishlari bo`yicha prorektori : </strong>
            {{prorektor.last_name}} {{prorektor.first_name}}
        </p>

        <p style="align-items: center;">
            <img src="{{bugalter.qr_code_link}}" width="40" height="40">
            <strong>Bugalter : </strong>
            {{bugalter.last_name}}  {{bugalter.first_name}}
        </p>
        
        {% if xojalik_bolimi %}
            <p style="align-items: center;">
                <img src="{{xojalik_bolimi.qr_code_link}}" width="40" height="40">
                <strong>Xo`jalik bo`limi : </strong>
                {{xojalik_bolimi.last_name}}  {{xojalik_bolimi.first_name}}
            </p>
        {% endif %}

        {% if it_park %}
            <p style="align-items: center;">
                <img src="{{it_park.qr_code_link}}" width="40" height="40">
                <strong>IT Park : </strong>
                {{it_park.last_name}}  {{it_park.first_name}}
            </p>
        {% endif %}
        
        <p style="align-items: center;">
            <img src="{{omborchi.qr_code_link}}" width="40" height="40">
            <strong>Omborchi : </strong>
            {{omborchi.last_name}}  {{omborchi.first_name}}
        </p>
        
        <p style="align-items: center;">
            <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code"  width="100" height="100" />
        </p>

    </div>   
    
    
</body>
</html>